* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    background: linear-gradient(120deg, #7e7e7e, #eaeaea, #7e7e7e);
    background-size: 300% 300%;
    animation: gradientMove 16s ease infinite;

    padding-bottom: clamp(80px, 12vh, 140px);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.info {
    display: flex;
    position: fixed;
    top: 36px;
    right: 36px;
    gap: 12px;

    transform: translateX(50px);
    opacity: 0;
    animation: slideInRight 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.socials {
    display: flex;
    position: fixed;
    bottom: 36px;
    left: 36px;
    gap: 12px;

    transform: translateX(-50px);
    opacity: 0;
    animation: slideInLeft 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

nav a {
    text-decoration: none;
    padding: 12px;
    border: 2px solid black;
    /* rounded corners */
    border-radius: 12px;
    color: rgb(69, 69, 69);
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: black;
    text-decoration: underline;
    transform: scale(1.1);
}

.mainBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainHeader {
    margin-bottom: 12px;
    font-size: 52px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

h2 {
    font-size: 32px;
    color: rgb(96, 96, 96);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.5s;
}

.mainH2 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid grey;

    animation: fadeInUp 1s forwards 0.5s,
        typing 3s steps(23, end) forwards 0.5s,
        hideCursor 0.1s forwards 3.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    to {
        width: 23ch;
    }
}

@keyframes hideCursor {
    to {
        border-right: none;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    margin-top: 40px;

    align-items: center;
    text-align: center;
    font-size: 40px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.contentDiv {
    min-height: 528px;
    padding: 40px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 12px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;

    margin: 38px auto;
    width: 100%;
    max-width: 1100px;
}

p {
    font-size: 22px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;

    text-align: justify;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
    max-width: 1300px;
    margin: 36px auto;
}

strong {
    font-size: 26px;
}

ul {
    padding-top: 20px;
    padding-left: 48px;
    font-size: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    border: 2px solid rgb(69, 69, 69);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;

    min-height: 528px;
    padding: 48px;
    margin: 40px auto;
    width: 100%;
    max-width: 900px;
    gap: 48px;
}

.contactDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    gap: 32px;
    padding: 0;
}

.contactForm input,
.contactForm textarea {
    border: none;
    width: 100%;
    padding: 20px 24px;

    border: 2px solid rgb(69, 69, 69);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(96, 96, 96);
    background: whitesmoke;
    outline: none;
}

.contactForm textarea {
    min-height: 188px;
    resize: none;
}

.sendButton {
    align-self: center;

    padding: 18px 48px;
    font-size: 22px;
    background: whitesmoke;

    border: 2px solid rgb(69, 69, 69);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sendButton:hover {
    transform: scale(1.0575);
}