*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    background: linear-gradient(120deg, #aaaaaa, #ffe6c0, #aaaaaa);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.info {
    display: flex;
    position: fixed;
    top: 40px;
    right: 40px;
    gap: 12px;

    transform: translateX(50px);
    opacity: 0;
    animation: slideInRight 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.socials {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 40px;
    gap: 12px;

    transform: translateX(-50px);
    opacity: 0;
    animation: slideInLeft 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

nav a {
    text-decoration: none;
    padding: 12px;
    border: 2px solid black;
    border-radius: 16px;        /* rounded corners */
    color: rgb(80, 80, 80);
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: black;
    transform: scale(1.15);
}

.mainBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainHeader {
    margin-bottom: 12px;
    font-size: 56px;


    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

h2 {
    font-size: 32px;
    color: grey;
    
    opacity: 0;
    transform: translateY(20px);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid grey;

    animation: 
        fadeInUp 1s forwards 0.5s,
        typing 3s steps(23,end) forwards 0.5s,
        hideCursor 0.1s forwards 3.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    to { width: 23ch; }
}

@keyframes hideCursor {
    to { border-right: none; }
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    margin-top: 40px;
    margin-bottom: 12px;
    align-items: center;
    text-align: center;
    font-size: 48px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.contentDiv {
    margin-top: 32px;
    margin-left: 64px;
    margin-right:64px;
    padding: 48px;
    border: solid 2px;
    border-radius: 16px;  

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

p {
    margin-bottom: 16px;
    font-size: 24px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

strong {
    font-size: 28px;
}

ul {
    padding-left: 48px;;
}

.contactForm {
    margin: 0 auto; 
    margin-top: 32px;
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    border: 2px solid rgb(80, 80, 80);
    padding: 40px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.contactDiv {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    gap: 32px;
}

.contactForm input,
.contactForm textarea {
    border: none;
    width: 100%;
    padding: 20px 24px;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: whitesmoke;
    outline: none;
}

.contactForm textarea {
    margin-bottom: 40px;
    min-height: 172px;
    resize: none;
}

.sendButton {
    align-self: center;

    margin-bottom: 20px;
    padding: 18px 56px;
    font-size: 20px;
    font-weight: 500;

    background: whitesmoke;

    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sendButton:hover {
    transform: translateY(-2px);
}